:root {
    --text-shadow: 5px 2px 2px rgba(0 ,0, 0, 0.8);
    --light-color: #ddd;
    --dark-color: #333;
    --main-radus: 5px;
}

body {
   margin: 5;
   padding: 0; 
}

section {
    background-color: aqua;
    width: 30%;
    height: 50vh;
}

.calbrand {
    text-align: center;
    border: 2px solid #333;
}



.buttons {
    background-color: rgb(110, 107, 107);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
}

.display {
    border: 2px solid var(--dark-color);
}


.btn {
    border: 5px solid var(--dark-color);
    height: 100px;
    width: 50px;
}