:root {
    --text-shadow: 5px 2px 2px rgba(0 ,0, 0, 0.8);
    --light-color: #ddd;
    --dark-color: #333;
    --main-radus: 5px;
}

body {
   margin: 5;
   padding: 0; 
}

section {
    background-color: aqua;
    width: 30%;
    height: 50vh;

}